@use "../scss-utils/mixins" as mixins;

.home-banner {
	@include mixins.dimension(100%, 15vh);
	margin-block-end: 10vh;
	@include mixins.grid(false, false, center);
	background-color: rgb(230, 230, 230);

	@media screen and (min-width: 1366px) {
		height: 30vh;
	}

	&__text {
		@include mixins.fontHeading(1.2rem, 700);

		@media screen and (min-width: 1366px) {
			font-size: 1.8rem;
		}
	}
}
