@use "../scss-utils/mixins" as mixins;

.remind {
	@include mixins.dimension(100%, 45vh);
	margin-block: 10vh 5vh;
	@include mixins.flex(center, center, column);

	@media screen and (min-width: 1366px) {
		flex-direction: row;
	}

	&__image {
		width: 40%;

		@media screen and (min-width: 1366px) {
			width: 15%;
		}
	}

	&__text {
		width: 90%;
		margin-block-start: 40px;
		padding-inline: 30px;
		@include mixins.fontHeading(1.1rem, 700);
		text-align: center;

		@media screen and (min-width: 1366px) {
			width: 30%;
			margin: 0;
			padding: 0;
			margin-inline: 7vw 0;
			font-size: 1.7rem;
			text-align: left;
		}
	}
}
