:root {
	--primary: #8d86c9;
	--primary-hover: #a19cd4;
	--primary-active: #6f67bb;
	--accent: #ffc123;
	--accent-hover: #ffca42;
	--accent-active: #e4ac1e;
	--text: #1e2019;
	--bg: #fff;
}

$primary: var(--primary);
$primary-hover: var(--primary-hover);
$primary-active: var(--primary-active);
$accent: var(--accent);
$accent-hover: var(--accent-hover);
$accent-active: var(--accent-active);
$text: var(--text);
$bg: var(--bg);
